
section {
  padding: 5em 1.6em; /*padding a b; a for top and bottom, b for left and right*/
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

strong {
  font-weight: var(--fw-bold);
}

/* Intro */

.intro {
  max-width: min-content;
}

.intro__title {
  color: var(--clr-dark);
}

.intro__title strong {
  display: block;
}

.intro__subtitle {
  display: inline-block;
  background-color: var(--clr-accent);
  margin: 0;
  font-size: var(--fs-h3);
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

@media (max-width: 350) {
  .intro {
    font-size: var(--fs-h3);
  }
}

@media (min-width: 650px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .intro__title {
    position: relative;
    grid-area: title;
  }

  .intro__subtitle {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* Hobbies */

.hobbies {
  background: var(--clr-dark);
  color: var(--clr-light);
  padding-top: 5em;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;
}
.hobbies__title {
  text-align: center;
  margin: 0em auto 1em;
}

.hobby {
  padding: 0.5em;
  max-width: 1000px;
  margin: 0 auto 0.5em;
  background-color: #202020;
}

.hobby__img {
  width: 50%;
  height: 20%;
  margin: 1em auto 1em;
}

.hobby__description {
  text-align: center;
  margin: auto 0;
  font-size: var(--fs-h3);
}

@media (min-width: 800px) {
  .hobby {
    padding: 0.5em;
    max-width: 1000px;
    display: flex;
    margin: 0 auto 0.5em;
  }

  .hobby__img {
    width: 300px;
    height: 200px;
    justify-content: center;
  }

  .hobby__description {
    text-align: center;
    margin: auto 0;
    padding: 1em;
    font-size: var(--fs-h3);
  }

  .hobby__img-inverse {
    order: 1;
  }
}
